:root {
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  color: #a3a3a3;
  background: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  line-height: 1.7;
}

button {
  padding: 0.5rem 0.75rem;
  color: white;
  background: transparent;
  border: 1px solid #262626;
  /* border: none; */
  border-radius: 0.25rem;
  font-size: inherit;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: #262626;
}

.popover {
  position: relative;
}

.popover-content {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  width: 24rem;
  padding: 1rem;
  border: 1px solid #262626;
  /* background: #0a0a0a; */
  /* background: rgba(255, 255, 255, 0.05); */
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 4px;
  transform: translateX(-50%);
}

.popover-content.active {
  display: block;
}
