#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.popover {
  /* width: 100vw; */
  padding: 1.5em;
  background-color: #1a1a1a;
  max-width: 800px;
  border-radius: 4px;
}
